---
import { Image } from "astro:assets";
import TechStack, { type Tech } from "./tech-stack.astro";

interface Props {
  type: "BackEnd Project" | "FrontEnd Project" | "FullStack Project";
  title: string;
  stack: Tech[];
  description: string;
  deploy: string;
  repository: string;
  image: string;
  alt: string;
}

const { type, title, stack, description, deploy, repository, image, alt } =
  Astro.props;
---

<article
  class="grid gap-4 overflow-hidden rounded-lg bg-gradient-to-t from-neutral-900/40 via-75% sm:grid-cols-7"
>
  <div class="flex flex-col gap-4 px-4 pb-8 pt-4 sm:col-span-4 sm:py-8">
    <header class="flex flex-col gap-1">
      <p class="font-jetbrains text-sm uppercase leading-[1] text-purple-500">
        {type}
      </p>
      <h3
        class="text-3xl font-bold leading-[1] tracking-tight underline-offset-2"
      >
        {title}
      </h3>
    </header>
    <div class="flex flex-wrap gap-1 font-jetbrains">
      <h4 class="w-full text-sm leading-[1.25] tracking-tight text-neutral-700">
        Tech Stack:
      </h4>
      <TechStack techs={stack} />
    </div>
    <p class="text-neutral-400">
      {description}
    </p>
    <footer class="mt-4 flex items-center gap-4 sm:mt-8">
      <a
        target="_blank"
        href={deploy}
        class="grid w-fit rounded bg-gradient-to-t from-purple-900 to-purple-500 px-4 py-2 font-jetbrains font-bold transition-[filter] hover:brightness-75"
      >
        getDeploy()
      </a>
      <a
        target="_blank"
        href={repository}
        class="group flex w-fit gap-1 font-jetbrains"
      >
        <span aria-hidden="true" class="text-purple-500">[</span>
        <span
          class="flex items-center gap-1 underline-offset-2 group-hover:underline"
        >
          Visit Repo
        </span>
        <span aria-hidden="true" class="text-purple-500">]</span>
      </a>
    </footer>
  </div>
  <picture
    class="row-start-1 min-h-[260px] overflow-hidden bg-neutral-800 sm:col-span-3 sm:row-start-auto sm:h-auto"
  >
    <Image
      width={960}
      height={720}
      src={image}
      alt={alt}
      class="h-full w-full object-cover transition-transform hover:scale-125"
    />
  </picture>
</article>
